@tailwind base;

@tailwind components;

@tailwind utilities;

.gradient {
    background-color: #283acb;
    background-image: linear-gradient(135deg, #283acb 0%, #8650c8 50%, #de0a0a 100%);
    background-repeat: no-repeat;
}

h1 {
    @apply text-3xl text-green-700 font-semibold;
}

h2 {
    @apply text-2xl text-green-400 font-semibold;
}
h3 {
    @apply text-xl text-yellow-700 font-semibold;
}   